<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>BA7616B2-1DB9-46BB-8060-52F21524886D</string>
			<string>5423EA3E-DC78-47A7-9EAC-CE6EB5900B89</string>
			<string>EB36361F-CCE4-4008-882C-AE1D23D17CB7</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>MongoMapper</string>
	<key>ordering</key>
	<array>
		<string>BA7616B2-1DB9-46BB-8060-52F21524886D</string>
		<string>5423EA3E-DC78-47A7-9EAC-CE6EB5900B89</string>
		<string>EB36361F-CCE4-4008-882C-AE1D23D17CB7</string>
		<string>8BEBDFB3-B62E-4F74-A879-AA7E76C69ED6</string>
		<string>B4B587DF-D56A-4D86-BE04-68C27169DD4B</string>
		<string>E38D93FD-2AF4-404D-941B-C82FC3725DFE</string>
		<string>BEE2355A-145B-4975-9789-B422C0686762</string>
	</array>
	<key>uuid</key>
	<string>B62572E8-ED5B-4F74-88E3-A4E76D735902</string>
</dict>
</plist>
